**/.DS_Store
**/.vscode
**/.idea
**/.ipynb_checkpoints
**/__pycache__

SCRIPTS/ONTOLOGY_TABLES/ACT_V4_LOADER/ENACT_V41_POSTGRES_I2B2_TSV/*
SCRIPTS/ONTOLOGY_TABLES/ACT_V4_LOADER/ENACT_V41_POSTGRES_I2B2_TSV.zip

airflow-env/
airflow/config/
airflow/logs/
airflow/plugins/
env/*
**/.env