**/.DS_Store
**/.vscode
**/.idea
venv
**/.env
ONTOLOGY_TABLES/ACT_V4_LOADER/READ_SCRIPTS/act_ontology_v4/*
/ONTOLOGY_TABLES/ACT_V4_LOADER/environment/i2b2-env/**
**/*venv
**/output
**/.ipynb_checkpoints
*.cnf
*.rpm
*.csv
**/cred.json
ONTOLOGY_TABLES/ACT_V4_LOADER/ENACT_V41_POSTGRES_I2B2_TSV/*
ONTOLOGY_TABLES/ACT_V4_LOADER/ENACT_V41_POSTGRES_I2B2_TSV.zip